version: "3.7"

services:
  mass-vue:
    container_name: mass-vue
    environment:
      - "PUID=${PUID:-1000}"
      - "PGID=${PGID:-1000}"
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - ${SERVER_PORT:-80}:80
