version: "3.7"

services: 
  mass-vue:
    container_name: mass-vue
    user: node
    environment:
      CHOKIDAR_USEPOLLING: "true"
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    ports:
      - ${SERVER_PORT:-3000}:3000